// Espacios
$espacio-4: 0.25rem;
$espacio-5: 0.3125rem;
$espacio-8: 0.50rem;
$espacio-10: 0.625rem;
$espacio-12: 0.75rem;
$espacio-16: 1rem;
$espacio-20: 1.25rem;
$espacio-24: 1.5rem;
$espacio-28: 1.75rem;
$espacio-32: 2rem;
$espacio-40: 2.5rem;
$espacio-48: 3rem;
$espacio-56: 3.5rem;
$espacio-64: 4rem;
$espacio-72: 4.5rem;
$espacio-80: 5rem;
$espacio-84: 5.25rem;
$espacio-96: 6rem;
$espacio-100: 6.25rem;
$espacio-n16: -1rem;
$espacio-n01: -0.155rem;
$espacio-n03: -0.3125rem;
